In [1]:
!ls

process_data.ipynb  training_data_check.csv

In [2]:
import pandas as pd

# Load the CSV file
file_path = "training_data_check.csv"
df = pd.read_csv(file_path)

# Display basic information about the dataset
print("Dataset Info:")
df.info()

# Show the first few rows
print("\nFirst 5 rows:")
display(df.head())

# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

# Show basic statistics
print("\nBasic Statistics:")
display(df.describe(include="all"))

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_id           504 non-null    object
 1   item_id_1         494 non-null    object
 2   text              495 non-null    object
 3   type              504 non-null    object
 4   time_edited       16 non-null     object
 5   project_id        504 non-null    object
 6   project_id_1      504 non-null    object
 7   doi               458 non-null    object
 8   wos_id            504 non-null    object
 9   scopus_id         0 non-null      float64
 10  openalex_id       0 non-null      float64
 11  s2_id             0 non-null      float64
 12  pubmed_id         114 non-null    float64
 13  dimensions_id     0 non-null      float64
 14  title             499 non-null    object
 15  title_slug        504 non-null    object
 16  publication_year  499 non-null    float64
 17  source            488 non-null    object
 18  keywords          0 non-null      float64
 19  authors           504 non-null    object
 20  meta              504 non-null    object
 21  user_id           494 non-null    object
 22  newKey|0          494 non-null    float64
 23  newKey|1          494 non-null    float64
 24  username          504 non-null    object
 25  ab                504 non-null    object
dtypes: float64(9), object(17)
memory usage: 102.5+ KB

First 5 rows:

,item_id,item_id_1,text,type,time_edited,project_id,project_id_1,doi,wos_id,scopus_id,...,publication_year,source,keywords,authors,meta,user_id,newKey|0,newKey|1,username,ab
0,00abe19a-6c77-47f7-a4db-7f3a7b9d8023,00abe19a-6c77-47f7-a4db-7f3a7b9d8023,Coffee is the beverage resulting from the infu...,academic,NaN,d48fc662-05a9-4b98-8330-256848c1032f,d48fc662-05a9-4b98-8330-256848c1032f,10.3390/su10124598,WOS:000455338100264,NaN,...,2018.0,SUSTAINABILITY,NaN,"[{'name': 'Giraldi-Diaz, Mario R.', 'email': N...","{'wos': {'AB': ""Coffee is the beverage resulti...",4fe33667-4f13-4e16-9f6a-3832a0663d8f,0.0,1.0,danfei.shen,Coffee is the beverage resulting from the infu...
1,00abe19a-6c77-47f7-a4db-7f3a7b9d8023,00abe19a-6c77-47f7-a4db-7f3a7b9d8023,Coffee is the beverage resulting from the infu...,academic,NaN,d48fc662-05a9-4b98-8330-256848c1032f,d48fc662-05a9-4b98-8330-256848c1032f,10.3390/su10124598,WOS:000455338100264,NaN,...,2018.0,SUSTAINABILITY,NaN,"[{'name': 'Giraldi-Diaz, Mario R.', 'email': N...","{'wos': {'AB': ""Coffee is the beverage resulti...",3798656b-31b3-4f62-85cb-13b0302bd9b0,0.0,1.0,sirui.zhu,Coffee is the beverage resulting from the infu...
2,00cfffc7-d78b-4ea3-bac0-e6b41811b851,00cfffc7-d78b-4ea3-bac0-e6b41811b851,Aims Previous studies have shown that silicon ...,academic,NaN,d48fc662-05a9-4b98-8330-256848c1032f,d48fc662-05a9-4b98-8330-256848c1032f,10.1007/s11104-024-06598-7,WOS:001182513700001,NaN,...,2024.0,PLANT AND SOIL,NaN,[],"{'wos': {'AB': ""Aims Previous studies have sho...",3798656b-31b3-4f62-85cb-13b0302bd9b0,1.0,0.0,sirui.zhu,Aims Previous studies have shown that silicon ...
3,00f77136-d5a1-4774-bf17-b75e5afb9d8c,00f77136-d5a1-4774-bf17-b75e5afb9d8c,The co-steam gasification of biomass (straw) a...,academic,NaN,d48fc662-05a9-4b98-8330-256848c1032f,d48fc662-05a9-4b98-8330-256848c1032f,10.1016/j.eti.2024.103745,WOS:001269069800001,NaN,...,2024.0,ENVIRONMENTAL TECHNOLOGY & INNOVATION,NaN,"[{'name': 'Cai, Jianjun', 'email': None, 'orci...",{'wos': {'AB': 'The co-steam gasification of b...,4fe33667-4f13-4e16-9f6a-3832a0663d8f,0.0,1.0,danfei.shen,The co-steam gasification of biomass (straw) a...
4,00f77136-d5a1-4774-bf17-b75e5afb9d8c,00f77136-d5a1-4774-bf17-b75e5afb9d8c,The co-steam gasification of biomass (straw) a...,academic,NaN,d48fc662-05a9-4b98-8330-256848c1032f,d48fc662-05a9-4b98-8330-256848c1032f,10.1016/j.eti.2024.103745,WOS:001269069800001,NaN,...,2024.0,ENVIRONMENTAL TECHNOLOGY & INNOVATION,NaN,"[{'name': 'Cai, Jianjun', 'email': None, 'orci...",{'wos': {'AB': 'The co-steam gasification of b...,3798656b-31b3-4f62-85cb-13b0302bd9b0,0.0,1.0,sirui.zhu,The co-steam gasification of biomass (straw) a...

Missing Values:
item_id               0
item_id_1            10
text                  9
type                  0
time_edited         488
project_id            0
project_id_1          0
doi                  46
wos_id                0
scopus_id           504
openalex_id         504
s2_id               504
pubmed_id           390
dimensions_id       504
title                 5
title_slug            0
publication_year      5
source               16
keywords            504
authors               0
meta                  0
user_id              10
newKey|0             10
newKey|1             10
username              0
ab                    0
dtype: int64

Basic Statistics:

,item_id,item_id_1,text,type,time_edited,project_id,project_id_1,doi,wos_id,scopus_id,...,publication_year,source,keywords,authors,meta,user_id,newKey|0,newKey|1,username,ab
count,504,494,495,504,16,504,504,458,504,0.0,...,499.000000,488,0.0,504,504,494,494.000000,494.000000,504,504
unique,360,350,353,1,14,1,1,327,360,NaN,...,NaN,240,NaN,195,360,2,NaN,NaN,3,360
top,00abe19a-6c77-47f7-a4db-7f3a7b9d8023,00abe19a-6c77-47f7-a4db-7f3a7b9d8023,Coffee is the beverage resulting from the infu...,academic,2025-02-15 11:58:42.211656+01:00,d48fc662-05a9-4b98-8330-256848c1032f,d48fc662-05a9-4b98-8330-256848c1032f,10.3390/su10124598,WOS:000455338100264,NaN,...,NaN,SUSTAINABILITY,NaN,[],"{'wos': {'AB': ""Coffee is the beverage resulti...",3798656b-31b3-4f62-85cb-13b0302bd9b0,NaN,NaN,sirui.zhu,Coffee is the beverage resulting from the infu...
freq,2,2,2,504,2,504,504,2,2,NaN,...,NaN,15,NaN,238,2,252,NaN,NaN,252,2
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021.755511,NaN,NaN,NaN,NaN,NaN,0.651822,0.348178,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.002093,NaN,NaN,NaN,NaN,NaN,0.476876,0.476876,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2023.000000,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2025.000000,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN